$orange-gradient: var(--gradient, linear-gradient(to right, #FF961C, #EB5757));
$orange: #FF961C;
$gray: #828282;

//$navbar-background-color: black;
//
//@import "bulma/sass/utilities/all";
//@import "bulma/bulma";
//@import "bulma/sass/components/navbar";

body {
  background-color: black;
}

.advantages {
  background-color: black;
  color: $orange;
}

.advantages-box {
  transition: transform, background-color 0.2s, 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
    background: #171717;
  }
}

.advantages-card-img {
  fill: $orange-gradient;
}

.main {
  color: white;
  background: url("../src/assets/mainBackgroundDark.png") no-repeat center fixed;
}

.change-theme-button {
  fill: white;
}

.servers {
  color: white;
  background: black;
}

.server-card {
  background: url("../src/assets/serverBgBlack.png") no-repeat;
}

.team {
  color: white;
}

.team-f1 {
  background-color: black;
}

.team-f2 {
  background-color: black;
}

.footer {
  color: white;
  background: black;
}